--
-- PostgreSQL database dump
--

\restrict lX6gLMR0UShU4aotdPWC9ixb9BzBhZSAOTaBms8JKp3bgz1cXnhfhzjUEGRdbe1

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BatchStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BatchStatus" AS ENUM (
    'planned',
    'in_progress',
    'quality_check',
    'completed',
    'failed'
);


ALTER TYPE public."BatchStatus" OWNER TO postgres;

--
-- Name: ClientType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ClientType" AS ENUM (
    'client',
    'lead',
    'supplier',
    'partner',
    'investor',
    'other'
);


ALTER TYPE public."ClientType" OWNER TO postgres;

--
-- Name: DealStage; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DealStage" AS ENUM (
    'new_lead',
    'qualified',
    'sample_sent',
    'proposal',
    'negotiation',
    'closed_won',
    'closed_lost'
);


ALTER TYPE public."DealStage" OWNER TO postgres;

--
-- Name: ExpenseCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ExpenseCategory" AS ENUM (
    'raw_materials',
    'production',
    'shipping',
    'marketing',
    'salaries',
    'rent',
    'utilities',
    'equipment',
    'other'
);


ALTER TYPE public."ExpenseCategory" OWNER TO postgres;

--
-- Name: FulfillmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."FulfillmentStatus" AS ENUM (
    'unfulfilled',
    'partially_fulfilled',
    'fulfilled'
);


ALTER TYPE public."FulfillmentStatus" OWNER TO postgres;

--
-- Name: InventoryLocation; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InventoryLocation" AS ENUM (
    'AL_AHSA_WAREHOUSE',
    'KHOBAR_OFFICE'
);


ALTER TYPE public."InventoryLocation" OWNER TO postgres;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'draft',
    'sent',
    'paid',
    'void'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: LeadSource; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadSource" AS ENUM (
    'website',
    'event',
    'referral',
    'cold_outreach',
    'social_media',
    'manual_import'
);


ALTER TYPE public."LeadSource" OWNER TO postgres;

--
-- Name: MaterialCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MaterialCategory" AS ENUM (
    'BASE_POWDER',
    'FLAVORING',
    'PACKAGING',
    'OTHER'
);


ALTER TYPE public."MaterialCategory" OWNER TO postgres;

--
-- Name: OrderChannel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderChannel" AS ENUM (
    'b2b',
    'b2c',
    'pos',
    'event',
    'export',
    'other'
);


ALTER TYPE public."OrderChannel" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'draft',
    'confirmed',
    'processing',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'bank_transfer',
    'cash',
    'credit_card'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'pending',
    'paid',
    'partially_paid',
    'overdue'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: ProductStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProductStatus" AS ENUM (
    'active',
    'in_development',
    'discontinued'
);


ALTER TYPE public."ProductStatus" OWNER TO postgres;

--
-- Name: RndStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RndStatus" AS ENUM (
    'ideation',
    'formulation',
    'testing',
    'sfda_submission',
    'approved',
    'archived'
);


ALTER TYPE public."RndStatus" OWNER TO postgres;

--
-- Name: SfdaStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SfdaStatus" AS ENUM (
    'approved',
    'pending',
    'not_submitted'
);


ALTER TYPE public."SfdaStatus" OWNER TO postgres;

--
-- Name: StockMovementReason; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockMovementReason" AS ENUM (
    'PURCHASE',
    'PRODUCTION_INPUT',
    'ORDER_FULFILLMENT',
    'DAMAGE',
    'SAMPLE',
    'EVENT'
);


ALTER TYPE public."StockMovementReason" OWNER TO postgres;

--
-- Name: StockMovementType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockMovementType" AS ENUM (
    'STOCK_IN',
    'STOCK_OUT',
    'ADJUSTMENT',
    'TRANSFER',
    'RETURN'
);


ALTER TYPE public."StockMovementType" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'revenue',
    'expense'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: batch_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batch_items (
    id text NOT NULL,
    batch_id text NOT NULL,
    raw_material_id text,
    material_name text NOT NULL,
    quantity_used numeric(10,3) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.batch_items OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    id text NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    company_id text,
    role text,
    type public."ClientType" DEFAULT 'lead'::public."ClientType" NOT NULL,
    source public."LeadSource" DEFAULT 'manual_import'::public."LeadSource" NOT NULL,
    tags jsonb,
    city text,
    last_contacted timestamp(3) without time zone,
    notes text,
    assigned_to text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id text NOT NULL,
    name text NOT NULL,
    industry text,
    city text,
    website text,
    lifetime_value numeric(10,2) DEFAULT 0 NOT NULL,
    pricing_tier_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: company_pricing_tiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_pricing_tiers (
    id text NOT NULL,
    company_id text NOT NULL,
    category_id text NOT NULL,
    pricing_tier_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.company_pricing_tiers OWNER TO postgres;

--
-- Name: deals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deals (
    id text NOT NULL,
    title text NOT NULL,
    value numeric(10,2) DEFAULT 0 NOT NULL,
    stage public."DealStage" DEFAULT 'new_lead'::public."DealStage" NOT NULL,
    expected_close_date timestamp(3) without time zone,
    priority text DEFAULT 'medium'::text NOT NULL,
    company_id text,
    client_id text,
    assigned_to text,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.deals OWNER TO postgres;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    id text NOT NULL,
    expense_id text NOT NULL,
    category public."ExpenseCategory" NOT NULL,
    amount numeric(10,2) NOT NULL,
    vat numeric(10,2) DEFAULT 0 NOT NULL,
    description text NOT NULL,
    vendor text,
    payment_method public."PaymentMethod",
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    receipt_url text,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: finished_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finished_products (
    id text NOT NULL,
    product_id text NOT NULL,
    variant text NOT NULL,
    sku text NOT NULL,
    current_stock numeric(10,2) DEFAULT 0 NOT NULL,
    reserved_stock numeric(10,2) DEFAULT 0 NOT NULL,
    unit_cost numeric(10,2) NOT NULL,
    retail_price numeric(10,2) NOT NULL,
    reorder_threshold numeric(10,2),
    location public."InventoryLocation" NOT NULL,
    expiry_date timestamp(3) without time zone,
    batch_number text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.finished_products OWNER TO postgres;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    order_id text NOT NULL,
    invoice_number text NOT NULL,
    issue_date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    due_date timestamp(3) without time zone NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    status public."InvoiceStatus" DEFAULT 'draft'::public."InvoiceStatus" NOT NULL,
    pdf_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    order_id text NOT NULL,
    product_id text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    total numeric(10,2) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    order_number text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    channel public."OrderChannel" DEFAULT 'b2b'::public."OrderChannel" NOT NULL,
    status public."OrderStatus" DEFAULT 'draft'::public."OrderStatus" NOT NULL,
    payment_status public."PaymentStatus" DEFAULT 'pending'::public."PaymentStatus" NOT NULL,
    fulfillment_status public."FulfillmentStatus" DEFAULT 'unfulfilled'::public."FulfillmentStatus" NOT NULL,
    sub_total numeric(10,2) DEFAULT 0 NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    vat numeric(10,2) DEFAULT 0 NOT NULL,
    shipping_cost numeric(10,2) DEFAULT 0 NOT NULL,
    grand_total numeric(10,2) DEFAULT 0 NOT NULL,
    notes text,
    client_id text NOT NULL,
    company_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: pricing_tiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricing_tiers (
    id text NOT NULL,
    product_id text,
    tier_name text NOT NULL,
    min_order_kg numeric(10,2) NOT NULL,
    price_per_kg numeric(10,2) NOT NULL,
    discount_percent numeric(5,2) NOT NULL,
    margin_percent numeric(5,2) NOT NULL,
    is_global boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    category_id text,
    max_order_kg numeric(10,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.pricing_tiers OWNER TO postgres;

--
-- Name: production_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_batches (
    id text NOT NULL,
    batch_number text NOT NULL,
    product_id text NOT NULL,
    target_qty numeric(10,2) NOT NULL,
    actual_qty numeric(10,2),
    yield_percent numeric(10,2),
    status public."BatchStatus" DEFAULT 'planned'::public."BatchStatus" NOT NULL,
    start_date timestamp(3) without time zone NOT NULL,
    end_date timestamp(3) without time zone,
    quality_score integer,
    produced_by text,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.production_batches OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    name text NOT NULL,
    sku_prefix text NOT NULL,
    description text,
    key_ingredients text,
    caffeine_free boolean DEFAULT true NOT NULL,
    sfda_status public."SfdaStatus" DEFAULT 'not_submitted'::public."SfdaStatus" NOT NULL,
    sfda_reference text,
    base_cost numeric(10,2) NOT NULL,
    base_retail_price numeric(10,2) NOT NULL,
    image text,
    status public."ProductStatus" DEFAULT 'active'::public."ProductStatus" NOT NULL,
    launch_date timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    category_id text,
    size numeric(10,2),
    unit text DEFAULT 'gm'::text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: quality_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quality_checks (
    id text NOT NULL,
    batch_id text NOT NULL,
    visual_inspection text NOT NULL,
    visual_notes text,
    weight_verification text NOT NULL,
    weight_notes text,
    taste_test text NOT NULL,
    taste_notes text,
    lab_analysis text,
    sfda_compliance text NOT NULL,
    overall_score integer NOT NULL,
    passed boolean DEFAULT false NOT NULL,
    checked_at timestamp(3) without time zone NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.quality_checks OWNER TO postgres;

--
-- Name: raw_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_materials (
    id text NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    category public."MaterialCategory" NOT NULL,
    current_stock numeric(10,3) DEFAULT 0 NOT NULL,
    unit_cost numeric(10,2) NOT NULL,
    reorder_threshold numeric(10,3),
    reorder_quantity numeric(10,3),
    location public."InventoryLocation" NOT NULL,
    last_restocked timestamp(3) without time zone,
    expiry_date timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    supplier_id text
);


ALTER TABLE public.raw_materials OWNER TO postgres;

--
-- Name: rnd_projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rnd_projects (
    id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    status public."RndStatus" DEFAULT 'ideation'::public."RndStatus" NOT NULL,
    lead_id text,
    formulation_details text,
    test_results text,
    cost_estimate numeric(10,2),
    target_launch_date timestamp(3) without time zone,
    related_suppliers jsonb,
    attachments jsonb,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.rnd_projects OWNER TO postgres;

--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movements (
    id text NOT NULL,
    movement_id text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type public."StockMovementType" NOT NULL,
    quantity numeric(10,3) NOT NULL,
    reason public."StockMovementReason" NOT NULL,
    notes text,
    reference_id text,
    performed_by_id text,
    raw_material_id text,
    finished_product_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.stock_movements OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id text NOT NULL,
    name text NOT NULL,
    contact_person text,
    email text,
    phone text,
    address text,
    notes text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id text NOT NULL,
    "productionCapacityKg" double precision DEFAULT 3000 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    transaction_id text NOT NULL,
    type public."TransactionType" NOT NULL,
    amount numeric(10,2) NOT NULL,
    description text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reference_id text,
    order_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: batch_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batch_items (id, batch_id, raw_material_id, material_name, quantity_used, created_at) FROM stdin;
152c72de-c31f-47e1-82df-a4b66e0e04e2	862b8be6-16a6-4c6e-8b7c-f56f9a9123d3	6240c5b0-85ac-42d9-bdc2-82dfeb818cf2	Palm Leaf	6.000	2026-02-22 12:59:25.635
9e5c7ff7-bc42-4058-8e0b-2ad44e38363e	12be46e3-0b4a-47a0-84b8-01bfd80f396d	6240c5b0-85ac-42d9-bdc2-82dfeb818cf2	Palm Leaf	4.000	2026-02-22 13:15:00.584
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description, created_at) FROM stdin;
811f9abb-7fcf-4181-ab19-9605d83fae4f	Safcha	Alternate of Matcha..	2026-02-22 10:05:30.761
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, name, industry, city, website, lifetime_value, pricing_tier_id, created_at, updated_at) FROM stdin;
193b2003-5094-4692-9b19-924e0054781e	Half Mil	Coffee Shop	Khobar	https://google.com	0.00	\N	2026-02-22 14:23:54.449	2026-02-22 14:23:54.449
\.


--
-- Data for Name: company_pricing_tiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_pricing_tiers (id, company_id, category_id, pricing_tier_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: deals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.deals (id, title, value, stage, expected_close_date, priority, company_id, client_id, assigned_to, notes, created_at, updated_at) FROM stdin;
4f2cd1a1-f693-4c95-afca-937b69e66670	All product 	1000.00	closed_won	2026-02-22 00:00:00	high	193b2003-5094-4692-9b19-924e0054781e	889b4f35-0109-4487-ac11-06cf722ea4de	\N	this is testing deal	2026-02-23 11:18:43.93	2026-02-23 17:53:56.186
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses (id, expense_id, category, amount, vat, description, vendor, payment_method, date, receipt_url, notes, created_at, updated_at) FROM stdin;
b01beb06-1a49-409a-9d1f-4a8f1ef2329a	EXP-2026-0001	production	10000.00	0.00	This is for rent	Sh	bank_transfer	2026-02-23 00:00:00	\N	This expense is for room	2026-02-23 10:44:39.329	2026-02-23 11:04:32.565
\.


--
-- Data for Name: finished_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.finished_products (id, product_id, variant, sku, current_stock, reserved_stock, unit_cost, retail_price, reorder_threshold, location, expiry_date, batch_number, created_at, updated_at) FROM stdin;
69bf9662-f774-4aec-8e59-c8ba7038d343	1fadded0-05ca-4933-97c9-073471a1fca1	Standard	fp-SKU-1-9246	16.00	-43.00	40.00	50.00	\N	AL_AHSA_WAREHOUSE	\N	BATCH-022226-0002	2026-02-22 13:23:59.248	2026-02-23 17:15:55.872
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pricing_tiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pricing_tiers (id, product_id, tier_name, min_order_kg, price_per_kg, discount_percent, margin_percent, is_global, created_at, updated_at, category_id, max_order_kg) FROM stdin;
27575914-a88e-4d2c-9482-2e8fa6ce2cc1	\N	Base	0.00	500.00	0.00	97.00	f	2026-02-22 10:47:31.738	2026-02-22 10:47:31.738	811f9abb-7fcf-4181-ab19-9605d83fae4f	50.00
764c17b8-840f-4dc0-bff9-92c132cca4a9	\N	Standard Wholesale	50.00	375.00	25.00	95.00	f	2026-02-22 10:48:20.048	2026-02-22 10:48:20.048	811f9abb-7fcf-4181-ab19-9605d83fae4f	100.00
\.


--
-- Data for Name: production_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quality_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quality_checks (id, batch_id, visual_inspection, visual_notes, weight_verification, weight_notes, taste_test, taste_notes, lab_analysis, sfda_compliance, overall_score, passed, checked_at, notes, created_at) FROM stdin;
bef1270d-8781-4d27-8e06-1dd8458fc6db	862b8be6-16a6-4c6e-8b7c-f56f9a9123d3	pass	\N	pass	\N	pass	\N	pass	pass	10	t	2026-02-22 13:11:22.497	\N	2026-02-22 13:11:22.567
6791551c-ebbb-4b78-8982-5f3d51332786	12be46e3-0b4a-47a0-84b8-01bfd80f396d	pass	\N	pass	\N	pass	\N	pass	pass	10	t	2026-02-22 13:23:59.166	\N	2026-02-22 13:23:59.224
\.


--
-- Data for Name: raw_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.raw_materials (id, name, sku, category, current_stock, unit_cost, reorder_threshold, reorder_quantity, location, last_restocked, expiry_date, created_at, updated_at, supplier_id) FROM stdin;
6240c5b0-85ac-42d9-bdc2-82dfeb818cf2	Palm Leaf	sku-122	BASE_POWDER	0.000	100.00	5.000	10.000	KHOBAR_OFFICE	\N	\N	2026-02-22 12:40:08.608	2026-02-22 13:23:59.261	13dbab73-9b51-4b9f-b8da-9ecf392573a9
\.


--
-- Data for Name: rnd_projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rnd_projects (id, name, category, status, lead_id, formulation_details, test_results, cost_estimate, target_launch_date, related_suppliers, attachments, notes, created_at, updated_at) FROM stdin;
d3788084-3d41-44b0-8fdb-9bee9c1dc5e6	New Safcha Product	New Product Line	ideation	Dr Shah	I dont know.	I dont know.	800.00	2026-05-05 00:00:00	{"list": "N/A"}	{"uri": "N/A"}	I dont have any notes yet.	2026-02-23 17:02:22.796	2026-02-23 17:02:22.796
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (id, name, contact_person, email, phone, address, notes, is_active, created_at) FROM stdin;
13dbab73-9b51-4b9f-b8da-9ecf392573a9	Sup1	\N	\N	\N	\N	\N	t	2026-02-22 12:39:17.769
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (id, "productionCapacityKg", "updatedAt") FROM stdin;
cmlxkywsp00009n09la8jaepi	3000	2026-02-22 10:04:04.106
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: batch_items batch_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT batch_items_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_pricing_tiers company_pricing_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_pricing_tiers
    ADD CONSTRAINT company_pricing_tiers_pkey PRIMARY KEY (id);


--
-- Name: deals deals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT deals_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: finished_products finished_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finished_products
    ADD CONSTRAINT finished_products_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: pricing_tiers pricing_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_tiers
    ADD CONSTRAINT pricing_tiers_pkey PRIMARY KEY (id);


--
-- Name: production_batches production_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_batches
    ADD CONSTRAINT production_batches_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: quality_checks quality_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT quality_checks_pkey PRIMARY KEY (id);


--
-- Name: raw_materials raw_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_materials
    ADD CONSTRAINT raw_materials_pkey PRIMARY KEY (id);


--
-- Name: rnd_projects rnd_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rnd_projects
    ADD CONSTRAINT rnd_projects_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: company_pricing_tiers_company_id_category_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX company_pricing_tiers_company_id_category_id_key ON public.company_pricing_tiers USING btree (company_id, category_id);


--
-- Name: expenses_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_category_idx ON public.expenses USING btree (category);


--
-- Name: expenses_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_date_idx ON public.expenses USING btree (date);


--
-- Name: expenses_expense_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX expenses_expense_id_key ON public.expenses USING btree (expense_id);


--
-- Name: finished_products_product_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX finished_products_product_id_key ON public.finished_products USING btree (product_id);


--
-- Name: finished_products_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX finished_products_sku_key ON public.finished_products USING btree (sku);


--
-- Name: invoices_invoice_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX invoices_invoice_number_key ON public.invoices USING btree (invoice_number);


--
-- Name: invoices_order_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX invoices_order_id_key ON public.invoices USING btree (order_id);


--
-- Name: orders_client_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_client_id_idx ON public.orders USING btree (client_id);


--
-- Name: orders_company_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_company_id_idx ON public.orders USING btree (company_id);


--
-- Name: orders_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_date_idx ON public.orders USING btree (date);


--
-- Name: orders_date_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_date_status_idx ON public.orders USING btree (date, status);


--
-- Name: orders_order_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX orders_order_number_key ON public.orders USING btree (order_number);


--
-- Name: orders_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_status_idx ON public.orders USING btree (status);


--
-- Name: production_batches_batch_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX production_batches_batch_number_key ON public.production_batches USING btree (batch_number);


--
-- Name: production_batches_product_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX production_batches_product_id_idx ON public.production_batches USING btree (product_id);


--
-- Name: production_batches_start_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX production_batches_start_date_idx ON public.production_batches USING btree (start_date);


--
-- Name: production_batches_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX production_batches_status_idx ON public.production_batches USING btree (status);


--
-- Name: raw_materials_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX raw_materials_sku_key ON public.raw_materials USING btree (sku);


--
-- Name: stock_movements_finished_product_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_movements_finished_product_id_idx ON public.stock_movements USING btree (finished_product_id);


--
-- Name: stock_movements_movement_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX stock_movements_movement_id_key ON public.stock_movements USING btree (movement_id);


--
-- Name: stock_movements_raw_material_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_movements_raw_material_id_idx ON public.stock_movements USING btree (raw_material_id);


--
-- Name: transactions_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_date_idx ON public.transactions USING btree (date);


--
-- Name: transactions_order_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_order_id_idx ON public.transactions USING btree (order_id);


--
-- Name: transactions_transaction_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX transactions_transaction_id_key ON public.transactions USING btree (transaction_id);


--
-- Name: transactions_type_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_type_date_idx ON public.transactions USING btree (type, date);


--
-- Name: batch_items batch_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT batch_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: clients clients_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: companies companies_pricing_tier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pricing_tier_id_fkey FOREIGN KEY (pricing_tier_id) REFERENCES public.pricing_tiers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: company_pricing_tiers company_pricing_tiers_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_pricing_tiers
    ADD CONSTRAINT company_pricing_tiers_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: company_pricing_tiers company_pricing_tiers_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_pricing_tiers
    ADD CONSTRAINT company_pricing_tiers_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: company_pricing_tiers company_pricing_tiers_pricing_tier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_pricing_tiers
    ADD CONSTRAINT company_pricing_tiers_pricing_tier_id_fkey FOREIGN KEY (pricing_tier_id) REFERENCES public.pricing_tiers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: deals deals_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT deals_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deals deals_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT deals_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: finished_products finished_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finished_products
    ADD CONSTRAINT finished_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_tiers pricing_tiers_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_tiers
    ADD CONSTRAINT pricing_tiers_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_tiers pricing_tiers_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_tiers
    ADD CONSTRAINT pricing_tiers_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: production_batches production_batches_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_batches
    ADD CONSTRAINT production_batches_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: quality_checks quality_checks_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT quality_checks_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: raw_materials raw_materials_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_materials
    ADD CONSTRAINT raw_materials_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_movements stock_movements_finished_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_finished_product_id_fkey FOREIGN KEY (finished_product_id) REFERENCES public.finished_products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict lX6gLMR0UShU4aotdPWC9ixb9BzBhZSAOTaBms8JKp3bgz1cXnhfhzjUEGRdbe1

